<table class="table table-striped container">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tên</th>
      <th>Giới tính</th>
      <th>SĐT</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for(user of list; track user.name) {
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.sdt }}</td>
      <td>
        <button class="btn btn-outline-warning">
          <a [routerLink]="['/detail', user.id]">Detail</a>
        </button>
        <button class="btn btn-outline-primary"><a href="">Edit</a></button>
        <button class="btn btn-outline-danger"><a href="">Delete</a></button>
      </td>
    </tr>
    }
  </tbody>
</table>
